// Nav Icon Hover
@keyframes naviconhover {

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }

}

// Mobile Burger
@keyframes topactive {

    0% {
        top: 0%;
        transform: rotate(0deg);
    }
    50% {
        top: 50%;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }

}

@keyframes midactive {

    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

}

@keyframes botactive {

    0% {
        top: 100%;
        transform: rotate(0deg);
    }
    50% {
        top: 50%;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }

}

// Accreditations Hover
@keyframes accredhover {

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }

}
