.mobile-toggle {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    margin: 0;
    z-index: 20;
    height: auto !important;

    @media screen and (min-width: $desktop) {
        display: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    .mobile-burger {
        display: block;
        width: 30px;
        height: 12px;
        position: relative;

        span {
            position: absolute;
            display: block;
            background: $black;
            width: 20px;
            height: 2px;
            margin-bottom: 4px;

            &.topline {
                top: 0;
            }
            &.midline {
                top: 50%;
            }
            &.botline {
                top: 100%;
            }
        }

    }

    &.active-burger {
        transition: all 0.01s ease-out;

        span {

            &.topline {
                animation: topactive 0.5s;
                transform: rotate(45deg);
                top: 50%;
            }
            &.midline {
                animation: midactive 0.5s;
                opacity: 0;
            }
            &.botline {
                animation: botactive 0.5s;
                transform: rotate(-45deg);
                top: 50%;
            }

        }

    }

}
