  .desktop-nav {
      display: none;
      text-align: right;
      margin-top: 20px;
      transition: all 0.3s ease-out;

      @media screen and (min-width: 1200px) {
          text-align: center;
      }

      @media screen and (min-width: $desktop) {
          display: block;
          @include gridcolumn(9);
      }

      li {
          display: inline-block;
          list-style: none;
          list-style-position: inside;
          position: relative;

          &:before {
              position: absolute;
              bottom: -5px;
              content: "";
              background: $black;
              height: 1px;
              width: 0;
              display: block;
              transition: all 0.3s ease-out;
          }

          a {
              display: block;
              padding: 0 $gutter;
              font-size: $linkSizeSmall;
              transition: all 0.3s ease-out;

              @media screen and (min-width: 1250px) {
                  font-size: $linkSizeReg;
              }

          }

          &:not(.home-link),
          &:not(.search) {

              &:hover:before{
                  width: 100%;
              }

          }

          &.home-link,
          &.search {

              i{
                  transition: all 0.3s ease-out;
              }
              
              &:before{
                  display: none;
              }
              
              &:hover i{
                  animation: naviconhover 2s infinite;
                  animation-direction: alternate;
              }
              
              a {
                  color: $navIconColour;
              }

          }

      }

  }
