nav {

    li {

        a {
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            color: $black;
        }

    }

}
