.mobile-nav-wrap {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    overflow: scroll;
    background: $white;
    z-index: 30;
    transition: all 0.3s ease-out;
    width: 80%;
    max-width: 400px;
    padding-top: 60px;
    box-shadow: $mobileNavShadow;

    @media screen and (min-width: $desktop) {
        display: none;
    }

    &.active-nav {
        right: 0;
    }

    .mobile-toggle {
        top: 30px;
    }

    nav.mobile-nav {

        li {

            a {
                display: block;
                padding: $gutter $guttermd;
                border-bottom: $mobileLinkBorder;
                transition: all 0.3s ease-out;
            }

            &:first-of-type {

                a {
                    border-top: $mobileLinkBorder;
                }

            }

            &:hover,
            &:focus {

                a {
                    background: $mobileLinkHoverBg;
                }
            }
        }

    }

}
