.accreditations-container {
    text-align: center;
    border-bottom: solid 10px $accreditationsBorder;
    background: $accreditationsBg;
    padding: 30px $guttermd;

    img {
        display: block;
        margin: 0 auto 20px;
        transition: all 0.3s ease-out;

        @media screen and (min-width: $mobile) {
            display: inline-block;
            width: auto;
            margin: 0 10px 20px;
        }
        @media screen and (min-width: $desktop) {
            margin: 0 20px;
        }
        @media screen and (min-width: $gridwidth) {
            margin: 0 40px;
        }
        
        &:hover{
            animation: accredhover 2s infinite;
            animation-direction: alternate;
        }
    }

}
