article {
    border-top: $contentBorder;
    background: $white;
    padding: $guttermd;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
        padding: $gutterlg;
    }
    
    .content-wrap{
        
        @media screen and (min-width: $tablet){
            @include gridcolumn(6);
            padding-right: 20px;
        }
        @media screen and (min-width: 1200px){
            padding-left: 100px;
            padding-right: 40px;
        }
        
        .service-links{
            
            a{
                display: inline-block;
                margin-bottom: 10px;
                position: relative;
                text-decoration: none;
                float: left;
                clear: both;
                
                @media screen and (min-width: $desktop){
                    float: none;
                    clear: none;
                    margin-right: 5px;
                }
                
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    background: #a5cfd4;
                    height: 2px;
                    width: 100%;
                    transition: all 0.3s ease-out;
                }
                
                &:hover:before{
                    background: $contentLinkHoverBorder;
                }
            }
            
        }
        
    }
    
}
