.slideshow-container {
    position: relative;

    .slideshow-wrap {

        .slide {
            position: relative;

            .slideshow-caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                @media screen and (min-width: $desktop) {
                    width: 60%;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                li,
                a {
                    color: #FFF;
                    font-weight: 600;
                    font-size: 30px;

                    @media screen and (min-width: $tablet) {
                        font-size: 35px;
                    }
                }
            }

        }

    }

    .slideshow-buttons {
        text-align: center;

        @media screen and (min-width: $desktop) {
            position: absolute;
            bottom: 0;
            right: 10%;
        }

        .button {
            display: block;
            transition: all 0.3s ease-out;
            position: relative;
            padding: 5px;

            @media screen and (min-width: $desktop) {
                display: inline-block;
            }

            a {
                position: relative;
                display: block;
                transition: all 0.3s ease-out;
                z-index: 10;
                color: $white;
                text-transform: uppercase;
                font-weight: $sliderWeight;
                font-size: $sliderButtonSize;
                text-decoration: none;
                padding: 20px;
            }

            &:first-of-type {
                background: $buttonOneBackground;

                @media screen and (min-width: $desktop) {
                    margin-right: 10px;
                }

                a {
                    background: $buttonOneBackground;
                }

                &:hover,
                &:hover > a {
                    background: darken($buttonOneHoverBackground, 5%);
                }

            }
            &:last-of-type {
                background: $buttonTwoBackground;

                a {
                    background: $buttonTwoBackground;
                }
                &:hover,
                &:hover > a {
                    background: darken($buttonTwoHoverBackground, 5%);
                }
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 0%;
                height: 0%;
                border: solid 5px transparent;
                z-index: 1;
                transition: all 0.4s ease-out;
            }

            &:before {
                top: 0px;
                left: 0px;
            }
            &:after {
                bottom: 0px;
                right: 0px;
            }

            &:hover {

                &:before,
                &:after {
                    width: 100%;
                    height: 100%;
                }

                &:first-of-type {

                    &:before,
                    &:after {
                        background: darken($buttonOneHoverBorder, 15%);
                    }

                }

                &:last-of-type {

                    &:before,
                    &:after {
                        background: darken($buttonTwoHoverBorder, 15%);
                    }

                }

            }

            i {
                vertical-align: middle;
            }
        }

    }

}
