.twitter-container {
    @include gridcolumn(12);
    text-align: center;
    margin-top: 10px;

    @media screen and (min-width: $tablet) {
        @include gridcolumn(6);
        margin-top: 130px;
    }
    @media screen and (min-width: 1400px) {
        max-width: 45%;
        margin-left: 20px;
    }

    img {
        display: inline-block;
        max-width: 70px;

        @media screen and (min-width: $desktop) {
            @include gridcolumn(2);
        }
    }

    .twitter-wrap {

        @media screen and (min-width: $desktop) {
            @include gridcolumn(10);
        }

        .twitter-slide {

            @media screen and (min-width: 1200px) {
                margin-top: 10px;
            }

            p {
                font-weight: 600;
                font-size: $twitterFontSize;
                color: $twitterColor;

                @media screen and (min-width: 1200px) {
                    font-size: $twitterFontSizeBig;
                }
            }

        }

    }

    .slick-dots {

        li {
            display: inline-block;
            margin: 0 5px;

            &:hover {

                button {
                    cursor: pointer;
                    background: $twitterDotsActive;
                }
            }

            button {
                content: "";
                border: none;
                box-shadow: none;
                background: $twitterDotsColour;
                border-radius: 50%;
                color: transparent;
                padding: 0;
                font-size: 0;
                height: 10px;
                width: 10px;
                transition: all 0.3s ease-out;
            }

            &.slick-active {

                button {
                    background: $twitterDotsActive;
                }

            }

        }

    }

}
