// Desktop Nav
$linkSizeSmall: 14px;
$linkSizeReg: 16px;
$navIconColour: #009cb2;

// Fixed Nav
$fixedLinkSize: 14px;

// Mobile Nav
$mobileNavShadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.6);
$mobileLinkBorder: solid 1px #cecece;
$mobileLinkHoverBg: #cecece;