// Slider Buttons
$sliderButtonSize: 20px;
$sliderWeight: 700;

// Button 1
$buttonOneBackground: #27a8a4;
$buttonOneHoverBackground: #27a8a4;
$buttonOneHoverBorder: $buttonOneBackground;

// Button 2
$buttonTwoBackground: #017f8b;
$buttonTwoHoverBackground: #017f8b;
$buttonTwoHoverBorder: $buttonTwoBackground;