header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 50;
    background: $white;
    padding: $gutter $guttermd;
    box-shadow: $headerShadow;
    transition: all 0.3s ease-out;

    @media screen and (min-width: $desktop) {
        box-shadow: none;
    }
    @media screen and (min-width: 1200px) {
        float: right;
        margin: 0 auto;
    }

    .logo {

        @media screen and (min-width: $tablet) {
            @include gridcolumn(3);
        }

        img {
            max-width: 200px;
            transition: all 0.3s ease-out;

            @media screen and (min-width: $tablet) {
                max-width: none;
            }
        }

    }

    &.fixed-header {
        box-shadow: $headerShadow;
        max-width: $gridwidth;

        .logo img {
            transform: scale(0.7);
        }
        nav.desktop-nav {
            text-align: right;

            li a {
                font-size: $fixedLinkSize;
            }
        }
    }

}
